<h1>Applications</h1>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.street_address %></p> 
<p><%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p>Pets I want to Adopt: 
<% @application.pets.each do |pet| %> 
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <%end%>
</p>
<p>Application Status: <%= @application.status %> </p>  
<h3> Add a pet to this application </h3>
<%= form_with url: "/applications/#{@application.id}", method: :post, local: true do |form| %>
<p> Pet Name: <%= form.text_field :search_for_pet %></p>
<%= form.submit "Submit" %>
<% end %>
<br>
<% if @application.status == "In Progress" && @application.pets.count == 0 %>
<% @search_pet.each do |p| %>
  <p> Pet Search Match: 
    <%= link_to p.name, "/pets/#{p.id}" %>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
      <%= form.hidden_field :pet, value: p.id %>
      <%= form.submit "Adopt" %>
      <% end %>
    <% end %>
  </p>
<% elsif @application.status == "In Progress" && @application.pets.count > 0 %>
<%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
  <p>What makes you a good owner? <%= form.text_field :description %></p>
  <%= form.submit "Submit my Application" %>
<% end %>
<% end %>